* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: inter;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

nav ul li:hover {
  color: yellow;
}

ul {
  display: flex;
  padding: 0.5rem;
}

li {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}
.image {
  width: 100%;
  height: 90vh;
  /* padding: 1.3rem; */
  display: flex;
}
.link{
  color:#ffb611;
}

#story {
  text-align: center;
  color:#ffb611;
  font-size: xx-large;
  margin: 6rem;
}

.btn {
  background-color: #ffb611;
  color: white;
  border-radius:10px;
  justify-content: center;
  display: flex;
  margin: auto;
  padding: 0.4rem;


}

#logo {
  margin: auto;
}

#part {
  background-color:#ffb611;
  color: white;
  border-radius: 5px;
  align-content: center;
  margin:6rem;
  padding: 0.4rem;
}

#sub {
  background-color:#ffb611;
  color: white;
  margin: 0.1rem;
  /* border-radius: 5px; */
  margin-bottom: 6rem;
}

/* #line ul {
  display: block;
  float: left;
  align-items: center;
  background-color:;
} */

#top {
  margin: 0.2rem;
  display: flex;
}

#val {
  color: black;
  text-align: center;
  padding: 1.3rem;
  margin: 1.5rem;
  font-size: xx-large;
}

#our {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

#team {

  margin:3rem;
  align-content: center;
  display: flex;

}

#topic {
  text-align: center;
  padding: 1.3rem;
  color:#ffb611;
  font-size: xx-large;

}

span {
  color: yellow;
}

#care {
  display: flex;
  text-align: justify;
}

section {
  padding: 1rem;
  margin: 6rem;
}

/* #black{
  text-align: center;
  padding: 4rem;
  margin: 1.2rem;
  font-size: large;
} */
#try {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

#logo {
  text-align: center;
  background-color: #fdfbf3;
  margin: 0.1rem;
  
}
#last{
  padding: 20px;
  margin-bottom: 20px;
  display: block;
}
#input{
  margin-bottom: 6rem;
}
#inline{
  display: flex;
  justify-content: center;
 
}
#values{
  display: flex;
  justify-content: center;
  margin: 0.3rem;
}
.style{
  background-color:#fdfbf3;
  margin: 6rem;
  margin: auto;
}

.paragraph{
  color: #667085;
  margin: 0.1rem;
}
.image{
  margin: 0.3rem;
  height:290px;
   width:290px;
}
.about{
  justify-content: center;
  display: flex;
  color:#ffb611;
}
.name{
  display: flex;
  justify-content: center;
  color: #667085;
}
.heading{
  font-size: xx-large;
  margin: 3rem;
}
.icon{
  margin: 0.1rem;
}
.mini-footer{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #fdfbf3;
}

.terms{
  float: right;
  margin-bottom: auto;
  margin-right: 3px;

}
.footer h{
margin: auto;
padding-top: 1em;
}
.fa{
  color: grey;
  float: right;
}
 .icons{
  justify-content: center;
  display: flex;
  margin: 4rem;
  background-color: #f4ebff/#f9f5ff;
  border-radius: 4px;
 }
 #regions{
  display: flex;
  float: right;
 }