* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: inter;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

nav ul li:hover {
  color: yellow;
}

ul {
  display: flex;
  padding: 0.5rem;
}

li {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}

#image {
  width: 100%;
  height: 90vh;
  padding: 1.3rem;
}

#story {
  text-align: center;
  color: orange;
  /* padding: 1.2rem; */
  margin: 1.3rem;
}

#btn {
  background-color: orange;
  text-align: center;
  color: white;
  border-radius:5px;
}

#logo {
  margin: 1.8rem;
}

#part {
  background-color: orange;
  color: white;
  /* padding: 0.2rem; */
  border-radius: 5px;
  text-align: center;
}

#sub {
  background-color: orange;
  color: white;
  margin: 0.1rem;
  /* border-radius: 5px; */
  margin-bottom: 6rem;
}

/* #line ul {
  display: block;
  float: left;
  align-items: center;
  background-color:;
} */

#top {
  margin: 0.2rem;
  display: flex;
}

#val {
  color: black;
  text-align: center;
  padding: 1.3rem;
  margin: 1.5rem;
}

#our {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;

}

#team {

  margin: 0.3rem;
  align-content: center;
  display: flex;

}

#topic {
  text-align: center;
  padding: 1.3rem;
  color: black;
}

span {
  color: yellow;
}

#care {
  display: flex;
  text-align: justify;
}

section {
  padding: 1rem;
  margin: 1rem;
}

/* #black{
  text-align: center;
  padding: 4rem;
  margin: 1.2rem;
  font-size: large;
} */
#try {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

#logo {
  text-align: center;
  background-color: gainsboro;
  padding:5rem;
  
}
#last{
  padding: 20px;
  margin-bottom: 20px;
  display: block;
}
#input{
  margin-bottom: 6rem;
}
