* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
nav ul li:hover{
    color: yellow;
}

ul {
  display: flex;
  padding: 0.5rem;
}
li {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}

#image {
  width: 100%;
  height: 90vh;
  padding: 1.3rem;
}

#story {
  text-align: center;
  color: orange;
  /* padding: 1.2rem; */
  margin: 1.3rem;
}
#btn {
  background-color: orange;
  border-radius: 30px;
  text-align: center;
  color: white;
}
#logo {
  margin: 1.8rem;
}
#part {
  background-color: orange;
  color: white;
  padding: 0.2%;
  border-radius: 30px;
}
#sub {
  background-color: yellow;
  color: white;
}
#line ul {
  display: block;
  float: left;
  align-items: center;
}
#top {
  margin: 0.2rem;
  display: flex;
}
#val {
  color: black;
  text-align: center;
  padding: 1.3rem;
  margin: 1.5rem;
}
#our {
  display: flex;
}
#team{
    
    margin: 0.3rem;
    align-content: center;
    display: block;
    
}
#dan {
    width:20%;
    height: 30vh;
}
#mary{
    width: 20%;
    height: 30vh;
}
#dee{
    width:20%;
    height: 30vh;
}
#topic{
     text-align: center;
     padding: 1.3rem;
     color: black;
}
span{
    color: yellow;
}
    
  


